@using JobSearchFullWebSite.ViewModels
@model AboutViewModel
@{
    ViewData["Title"] = "Index";
}
    <main>
        <div class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          backColorBlue
          text-center
          py-5
        ">
            <h2><b>About</b></h2>
            <div class="d-flex flex-row text-center">
                <a href="" class="grey">Home / </a>
                <span> &nbsp;About</span>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row g-3 grid mx-3" data-masonry='{"percentPosition": true }'>
            @for (int i = 0; i < Model.About.AboutImages.Count; i++)
            {
                if (i == 0)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 Masonry1 border-radius">
                        <div class="MasonryImage1 border-radius">
                            <img src="~/SiteImages/@Model.About.AboutImages[i].Image"
                                 alt=""
                                 style="width: 100%; height: 100%" />
                        </div>
                    </div>
                }
                if (i == 1)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 Masonry2">
                        <div class="MasonryImage2 border-radius">
                            <img src="~/SiteImages/@Model.About.AboutImages[i].Image"
                                 alt=""
                                 style="width: 100%; height: 100%" />
                        </div>
                    </div>
                }
                if (i == 2)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 Masonry3">
                        <div class="MasonryImage3 border-radius">
                            <img src="~/SiteImages/@Model.About.AboutImages[i].Image"
                                 alt=""
                                 style="width: 100%; height: 100%" />
                        </div>
                    </div>
                }
                if (i == 3)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 Masonry4">
                        <div class="MasonryImage4 border-radius">
                            <img src="~/SiteImages/@Model.About.AboutImages[i].Image"
                                 alt=""
                                 style="width: 100%; height: 100%" />
                        </div>
                    </div>
                }
                if (i == 4)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 Masonry5">
                        <div class="MasonryImage5 border-radius">
                            <img src="~/SiteImages/@Model.About.AboutImages[i].Image"
                                 alt=""
                                 style="width: 100%; height: 100%" />
                        </div>
                    </div>
                }
                if (i == 5)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 Masonry6">
                        <div class="MasonryImage6 border-radius">
                            <img src="~/SiteImages/@Model.About.AboutImages[i].Image"
                                 alt=""
                                 style="width: 100%; height: 100%" />
                        </div>
                    </div>
                }
            }


        </div>
        <br />
        <br />
        <br />
        <div class="container">
            <div class="d-flex flex-row justify-content-center align-items-center row">
                <div class="d-flex flex-column text-center col-md-4 col-sm-6 col-12">
                    <h2 style="font-size: 40px"><b>4 M</b></h2>
                    <span class="grey">4 million daily active users </span>
                </div>
                <div class="d-flex flex-column text-center col-md-4 col-sm-6 col-12">
                    <h2 style="font-size: 40px"><b>12 K</b></h2>
                    <span class="grey">4 million daily active positions </span>
                </div>
                <div class="d-flex flex-column text-center col-md-4 col-sm-6 col-12">
                    <h2 style="font-size: 40px"><b>20 M</b></h2>
                    <span class="grey">4 million daily active stories </span>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="AboutJobio" style="overflow-wrap:break-word">
                @Model.About.AboutContentTextEditor.ToString()
                @*<h4><b>About Jobio </b></h4>
                <p class="grey">
                    Far much that one rank beheld bluebird after outside ignobly
                    allegedly more when oh arrogantly vehement irresistibly fussy
                    penguin insect additionally wow absolutely crud meretriciously
                    hastily dalmatian a glowered inset one echidna cassowary some parrot
                    and much as goodness some froze the sullen much connected bat
                    wonderfully on instantaneously eel valiantly petted this along
                    across highhandedly much.
                </p>
                <p class="grey">
                    Repeatedly dreamed alas opossum but dramatically despite
                    expeditiously that jeepers loosely yikes that as or eel underneath
                    kept and slept compactly far purred sure abidingly up above fitting
                    to strident wiped set waywardly far the and pangolin horse approving
                    paid chuckled cassowary oh above a much opposite far much
                    hypnotically more therefore wasp less that hey apart well like while
                    superbly orca and far hence one.Far much that one rank beheld
                    bluebird after outside ignobly allegedly more when oh arrogantly
                    vehement irresistibly fussy.
                </p>*@
            </div>

            <br />
            <br />
            <br />
        </div>

        <!-- Your Dream Jobs Are Waiting -->
        <section class="
          mt-5
          d-flex
          justify-content-center
          align-items-center
          flex-column
          py-5
        "
                 style="        background-image: url('https://apusthemes.com/wp-demo/superio/wp-content/uploads/2021/03/bg_shape.jpg'); width: 100%;
    ">
            <div class="
            container
            d-flex
            justify-content-center
            align-items-center
            flex-column
          ">
                <h2 class="white pt-5 mt-5">Your Dream Jobs Are Waiting</h2>
                <div class="white">
                    Over 1 million interactions, 50,000 success stories Make yours now.
                </div>
                <div class="buttons mt-4 pb-5 mb-5">
                    <button class="border-radius px-3 py-2 SearchJob">
                        Search Job
                    </button>
                    <button class="border-radius px-3 ms-4 py-2 ApplyJob">
                        Apply Job Now
                    </button>
                </div>
            </div>
        </section>











        <!-- Testimonials From Our Customers -->
        <section class="py-5 my-5"
                 style="
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          background-image: url(./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/03/bg-test2.png);
        ">
            <div class="
            d-flex
            flex-column
            justify-content-center
            align-items-center
            text-center
            py-5
          ">
                <h2><b>Testimonials From Our Customers </b></h2>
                <div class="d-flex flex-row text-center">
                    <span class="grey">
                        Lorem ipsum dolor sit amet elit, sed do eiusmod tempor
                    </span>
                </div>
            </div>
            <div class="container">
                <ul class="responsiveSlider row">
                    @foreach (var item in Model.Testimonials)
                    {
                        <li class="single-item me-4 d-flex justify-content-center">
                                    <div class="
                          card
                          bg-unset
                          border-0
                          w-50
                          py-5
                          px-3
                          TestimonialCard
                          d-flex
                          flex-column
                          align-items-center
                          justify-content-center
                          text-center
                        ">
                                        <div class="TestimonialCardImage shadow " style="width: 100px;height: 100px;border-radius: 50%; border: 10px solid white;"> <img class="w-100 h-100" src="~/SiteImages/@item.Image" alt="" /></div>
                                        <div class="TestimonialCardBlueText mt-3"><b>@item.BlueText</b></div>
                                        <p class="grey text-center mt-1">
                                        @item.Content
                                        </p>
                                        <p><b>@item.Name</b></p>
                                        <span class="grey">@item.Position</span>
                                    </div>
                        </li>
                    }

                </ul>
            </div>
        </section>
        <!-- How It Works -->
        <br />
        <br />
        <br />
        <section class="
          mt-5
          d-flex
          justify-content-center
          align-content-center
          flex-column
          py-5
          backColorBlue
        ">
            <br />
            <br />
            <div class="container">
                <div class="d-flex flex-column align-items-center">
                    <h2><b>How It Works?</b></h2>
                    <p class="grey">Job for anyone, anywhere</p>
                </div>
                <div class="row mt-5">
                    @foreach (var item in Model.HowWorks)
                    {
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="
                  WorkCard
                  card
                  border-0
                  d-flex
                  flex-column
                  justify-content-center
                  align-items-center
                  text-center
                  py-5
                ">
                                <div class="work-card-image">
                                    <img src="~/SiteImages/@item.Image"
                                         alt="" />
                                </div>
                                <div class="work-card-content">
                                    <br />
                                    <h5><b>@item.Title</b></h5>
                                    <p class="work-card-contentP grey">
                                       @item.Content
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <br />
            <br />
        </section>
        <!-- --Sponsors-- -->
        <section class="Sponsors container my-5">
            <div class="row d-flex align-items-center">

                @foreach (var item in Model.AboutSponsors)
                {
                    <div class="
              col-lg-2 col-md-4 col-sm-6 col-12
              d-flex
              flex-row
              align-items-center
              justify-content-center
            ">
                        <img src="~/SiteImages/@item.SponsorImage"
                             alt=""
                             style="width: 100px; height: 30px"
                             class="sponsorItem" />
                    </div>
                }

            </div>
        </section>
    </main>
  