
@using JobSearchFullWebSite.ViewModels
@model HomeViewModel


@{
    ViewData["Title"] = "Home Page";
}
@{
    int totalPage = (int)ViewBag.TotalPageCount;
    int selectedPage = (int)ViewBag.SelectedPage;
}
<!-- MAIN -->
<main>
    <!-- How It Works -->
    <br />
    <br />
    <br />
    <section class="
          mt-5
          d-flex
          justify-content-center
          align-content-center
          flex-column
          container
          pb-5
        ">
        <div class="d-flex flex-column align-items-center">
            <h2><b>How It Works?</b></h2>
            <p class="grey">Job for anyone, anywhere</p>
        </div>
        <div class="row mt-5">
            @foreach (var item in Model.HowWorks)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="
                WorkCard
                card
                border-0
                d-flex
                flex-column
                justify-content-center
                align-items-center
                text-center
                py-5
              ">
                        <div class="work-card-image">
                            <img src="~/SiteImages/@item.Image"
                                 alt="" />
                        </div>
                        <div class="work-card-content">
                            <br />
                            <h5><b>@item.Title</b></h5>
                            <p class="work-card-contentP grey">@item.Content</p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </section>
    <!-- Featured Jobs -->

    <section class="
          mt-5
          d-flex
          justify-content-center
          align-content-center
          flex-column
          pb-5
        "
             style="background-color: #cce4f7">
        <div class="d-flex flex-column align-items-center mt-5">
            <h2 class="mt-5"><b>Featured Jobs </b></h2>
            <p class="grey mx-3">
                Know your worth and find the job that qualify your life
            </p>
        </div>
        <div class="cards container mt-5">
            @foreach (var item in Model.Jobs)
            {
                <div class="

              d-flex
              flex-column
              align-content-center
              justify-content-center
            ">
                    <div class="col-12">
                        <div class="card mb-5 flex-row py-4 border-radius FeaturedCard">
                            <!-- <div class="col-1"> -->
                            <img src="~/SiteImages/@item.JobImages.FirstOrDefault(x=>x.IsPoster==true).Image"
                                 alt=""
                                 style="height: 60px; width: 60px"
                                 class="CardImage" />
                            <!-- </div> -->

                            <div class="
                    col-lg-8 col-11
                    d-flex
                    flex-column
                    align-self-center
                    ms-3
                    CommonContent
                  ">
                                <div class="col-12">
                                    <b>@item.Name</b>
                                    &nbsp;
                                    <span style="font-size: 13px; color: green">@(item.IsFeatured?"Featured":"")</span>
                                </div>
                                <div class="col-12 d-flex flex-row row pt-2">
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                        <i class="bi bi-briefcase"></i>
                                        <span>@item.Employer.Category.Name</span>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                        <i class="bi bi-geo-alt"></i>
                                        <span>@item.City.CityName</span>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                        <i class="bi bi-clock"></i>
                                        <span>@item.CreatedAt.ToString("dd.MM.yyyy")</span>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                        <i class="bi bi-cash-stack"></i>
                                        <span>@item.OfferedMinSalary - @item.OfferedMaxSalary</span>
                                    </div>
                                </div>
                            </div>

                            <div class="
                    col-lg-2 col-11
                    flex-column
                    align-self-center
                    JobCardRight
                    ms-3
                  ">
                                <div class="col-12 d-flex cardRightJobs">
                                    <div class="icon d-flex cardRightJobsIcon">
                                        <i style="font-size: 13px"
                                           class="bi bi-bookmark d-flex justify-content-end"></i>
                                    </div>

                                    <div class="FullTimeUrgent justify-content-end pt-2">

                                        <span class="px-3 d-flex align-items-center"
                                              style="
                          background-color: #dde8f8;
                          border-radius: 20px;
                          color: #7b64ac;
                          font-size: 12px;
                        ">@item.JobType.ToString()</span>
                        &nbsp;&nbsp;&nbsp;
                        @if (item.IsUrgent)
                        {
                            <span class="px-3 d-flex align-items-center"
                                  style="
                          background-color: #fef2d9;
                          border-radius: 20px;
                          color: #fcc546;
                          font-size: 12px;
                        ">Urgent</span>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
            <div class="d-flex justify-content-center w-100">
                <a asp-action="index" asp-controller="home" asp-route-jobsPage="@(ViewBag.SelectedPage<ViewBag.TotalPageCount?ViewBag.SelectedPage+1:ViewBag.TotalPageCount)"><button class="btn btn-primary px-4">Load More Listing</button></a>
            </div>
        </div>
    </section>








    <!-- Featured Cities -->
    <br />
    <br />
    <br />
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-8 col-12">
                <h2 class=""><b>Featured Cities </b></h2>
                <p class="grey">
                    Know your worth and find the job that qualify your life
                </p>
            </div>
            <div class="
              col-md-4 col-12
              d-flex
              justify-content-end
              align-items-center
              flex-row
              Browse
            ">
                <a href="" class="">
                    Browse All Locations<i class="bi bi-chevron-compact-right"
                                           style="font-size: small"></i>
                </a>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-12 CityImage">
                <img src="~/Cities/@Model.Cities.First().Image"
                     alt=""
                     class="CitiesImage" />
                <div class="over">
                    <h4 class="overH4">@Model.Cities.First().CityName</h4>
                    <div>@Model.Cities.First().Jobs.Count() Jobs</div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="row gx-4 gy-4">
                    @foreach (var item in Model.Cities.Skip(1).Take(4))
                    {
                        <div class="col-md-6 col-12 CityImage">
                            <img src="~/Cities/@item.Image"
                                 alt=""
                                 class="RightImage CitiesImage" />
                            <div class="over">
                                <h4 class="overH4">@item.CityName</h4>
                                <div>@item.Jobs.Count Jobs</div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
    <!-- Your Dream Jobs Are Waiting -->
    <br />
    <br />
    <br />
    <section class="
          mt-5
          d-flex
          justify-content-center
          align-items-center
          flex-column
          py-5
        "
             style="        background-image: url(@Html.Raw("/SiteImages/bg_shape.jpg"));
        width: 100%;
    ">
        <div class="
            container
            d-flex
            justify-content-center
            align-items-center
            flex-column
          ">
            <h2 class="white pt-5 mt-5">Your Dream Jobs Are Waiting</h2>
            <div class="white">
                Over 1 million interactions, 50,000 success stories Make yours now.
            </div>
            <div class="buttons mt-4 pb-5 mb-5">
                <button class="border-radius px-3 py-2 SearchJob">
                    Search Job
                </button>
                <button class="border-radius px-3 ms-4 py-2 ApplyJob">
                    Apply Job Now
                </button>
            </div>
        </div>
    </section>








    <!-- Featured Candidates -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-8 col-12">
                <h2 class="mt-5"><b>Featured Candidates </b></h2>
                <p class="grey">
                    Know your worth and find the job that qualify your life
                </p>
            </div>
            <div class="
              col-md-4 col-12
              d-flex
              justify-content-end
              align-items-center
              flex-row
              Browse
            ">
                <a href="" class="">
                    Browse All Candidates<i class="bi bi-chevron-compact-right"
                                            style="font-size: small"></i>
                </a>
            </div>
        </div>
        <ul class="responsive row container">
            @foreach (var item in Model.Candidates)
            {
                <li class="single-item me-4">
                    <div class="card py-5 px-3 CandidateCard">
                        <div class="
                  CandidateCardImage
                  d-flex
                  flex-column
                  justify-content-center
                  align-items-start
                ">
                            <div class="CandidateCardBookMark w-100 d-flex justify-content-end">
                                <i class="fas fa-bookmark me-0"></i>
                            </div>
                            <div class="CandidateCardImage d-flex justify-content-center w-100">
                                <img src="~/SiteImages/@item.CandidateImages.FirstOrDefault(x=>x.IsPoster).Image"
                                     alt=""
                                     style="width: 80px; height: 80px; border-radius: 50%"
                                     class="d-flex justify-content-center" />
                            </div>
                        </div>
                        <div class="
                  CandidateCardContent
                  d-flex
                  flex-column
                  justify-content-center
                  align-items-center
                ">
                            <h6 class="CandidateCardName mt-3"><b>@item.FullName</b></h6>
                            <p class="CandidateCardPosition" style="color: blue">
                                @item.Position.PositionName
                            </p>
                            <p class="CandidateCardLocation">
                                <i class="bi bi-geo-alt"></i>
                                <span class="grey">@item.City.CityName</span>
                            </p>
                            <button class="btn CandidateCardButton px-4">
                                View Profile
                            </button>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </section>
    <!-- Recent News Articles -->
    <br />
    <br />
    <hr />
    <section class="container mt-5">
        <div class="d-flex flex-column align-items-center mt-5">
            <h2 class="mt-5 text-center"><b>Recent News Articles </b></h2>
            <p class="grey text-center">
                Fresh job related news content posted each day.
            </p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model.BlogItems)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border-0 ArticleCard">
                        <div class="ArticleCardImage w-100 border-radius">
                            <img src="~/SiteImages/@item.ContainerImage"
                                 alt=""
                                 class="w-100 m-0 border-radius" />
                        </div>
                        <div class="ArticleCardContent mt-3">
                            <div class="d-flex flex-row">
                                <span class="grey">@item.CreatedAt.ToString("dd.MM.yyyy")</span>
                                <li class="ms-1 grey">3 Comments</li>
                            </div>
                            <div><a href="">@item.Title</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
    <!-- Let employers find you -->
    <br />
    <section class="mt-5 py-2" style="background-color: #deebff">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <h2 class="mt-5"><b>Let employers find you </b></h2>
                    <p class="grey">
                        Know your worth and find the job that qualify your life
                    </p>
                </div>
                <div class="
                col-md-4 col-12
                d-flex
                justify-content-end
                align-items-center
                flex-row
                Browse
              ">
                    <a href="" class="">
                        <button class="btn btn-primary">Upload Your Cv</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
