@using JobSearchFullWebSite.ViewModels
@model JobDetailViewModel 
@{
    ViewData["Title"] = "Detail";
}


    <main>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-8 col-12">
                    <section class="Genaral d-flex flex-column">
                        <div class="d-flex flex-row">
                            <h4 class="me-3">
                                <b>@Model.Job.Name</b>
                            </h4>
                            @if (Model.Job.IsFeatured)
                            {
                                <span style="
                    width: 20px !important;
                    height: 20px !important;
                    border-radius: 50%;
                    padding: 1%;
                    background-color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  ">
                                    <i class="fas fa-check white" style="font-size: 10px"></i>
                                </span>
                            }

                        </div>
                        <div class="col-12 d-flex flex-row row">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                <i class="bi bi-briefcase"></i>
                                <span>@Model.Job.JobCategory.Name</span>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                <i class="bi bi-geo-alt"></i>
                                <span>@Model.Job.City.CityName</span>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                <i class="bi bi-clock"></i>
                                <span>@Model.Job.CreatedAt.ToString("MMM dd, yyyy")</span>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 grey">
                                <i class="bi bi-cash-stack"></i>
                                <span>@Model.Job.OfferedMinSalary - @Model.Job.OfferedMaxSalary / @Model.Job.OfferedSalaryForTime</span>
                            </div>
                        </div>
                        <div class="FullTimeUrgent pt-2">
                            <span class="px-3 d-flex align-items-center"
                                  style="
                    background-color: #dde8f8;
                    border-radius: 20px;
                    color: #7b64ac;
                    font-size: 12px;
                    max-width: 150px;
                  ">@Model.Job.JobType.ToString()</span>
                        @if (Model.Job.IsUrgent)
                        {
                            @Html.Raw("&nbsp; &nbsp; &nbsp;");
                            <span class="px-3 d-flex align-items-center"
                                  style="
                    background-color: #fef2d9;
                    border-radius: 20px;
                    color: #fcc546;
                    font-size: 12px;
                    max-width: 150px;
                  ">Urgent</span>
                        }

                        </div>
                    </section>
                    <section class="Overview mt-5">
                        <div class="card p-3">
                            <h5><b>Job Overview</b></h5>
                            <div class="row g-4 mt-3 OverViewItems">
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="far fa-calendar me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Date Posted</h6>
                                        <span class="grey">@Model.Job.CreatedAt.ToString("MMM dd,yyyy")</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="fas fa-map-marker-alt me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Location</h6>
                                        <span class="grey">@Model.Job.City.CityName</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="far fa-money-bill-alt me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Offered Salary</h6>
                                        <span class="grey">@Model.Job.OfferedMinSalary - @Model.Job.OfferedMaxSalary/@Model.Job.JobType</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="fas fa-hourglass-half me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Expiration Date</h6>
                                        <span class="grey">@Model.Job.ExpirationDate.ToString("MMM dd, yyyy")</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="fas fa-user-check me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Experience</h6>
                                        <span class="grey">@Model.Job.RequiredExperience.ToString()</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="far fa-user me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Gender</h6>
                                        <span class="grey">@Model.Job.RequiredGender.ToString()</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="fab fa-acquisitions-incorporated me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Qualification</h6>
                                        <span class="grey">@Model.Job.RequiredQualificationr.ToString()</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 d-flex flex-row">
                                    <i class="fas fa-layer-group me-3"
                                       style="font-size: 20px; color: #1967d2"></i>
                                    <div class="d-flex flex-column">
                                        <h6>Career Level</h6>
                                        <span class="grey">@Model.Job.CareerLevel.ToString()</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="AboutJob mt-5">
                        @Html.Raw(Model.Job.JobContentTextEditor);
                        @*<div>
                            <h4><b>Job Description</b></h4>
                            <p class="grey">
                                As a Product Designer, you will work within a Product Delivery
                                Team fused with UX, engineering, product and data talent. You
                                will help the team design beautiful interfaces that solve
                                business challenges for our clients. We work with a number of
                                Tier 1 banks on building web-based applications for AML, KYC
                                and Sanctions List management workflows. This role is ideal if
                                you are looking to segue your career into the FinTech or Big
                                Data arenas.
                            </p>
                        </div>
                        <br /><br /><br />
                        <div>
                            <h4><b>Key Responsibilities</b></h4>
                            <ul class="grey">
                                <li>
                                    Be involved in every step of the product design cycle from
                                    discovery to developer handoff and user acceptance testing.
                                </li>
                                <br />
                                <li>
                                    Work with BAs, product managers and tech teams to lead the
                                    Product Design
                                </li>
                                <br />
                                <li>
                                    Maintain quality of the design process and ensure that when
                                    designs are translated into code they accurately reflect the
                                    design specifications.
                                </li>
                                <br />
                                <li>
                                    Accurately estimate design tickets during planning sessions.
                                </li>
                                <br />
                                <li>
                                    Contribute to sketching sessions involving
                                    non-designersCreate, iterate and maintain UI deliverables
                                    including sketch files, style guides, high fidelity
                                    prototypes, micro interaction specifications and pattern
                                    libraries.
                                </li>
                                <br />
                                <li>
                                    Ensure design choices are data led by identifying
                                    assumptions to test each sprint, and work with the analysts
                                    in your team to plan moderated usability test sessions.
                                </li>
                                <br />
                                <li>
                                    Design pixel perfect responsive UI’s and understand that
                                    adopting common interface patterns is better for UX than
                                    reinventing the wheel
                                </li>
                                <br />
                                <li>
                                    Present your work to the wider business at Show & Tell
                                    sessions.
                                </li>
                            </ul>
                        </div>
                        <br /><br /><br />
                        <div>
                            <h4><b>Skill & Experience</b></h4>
                            <ul class="grey">
                                <li>
                                    You have at least 3 years’ experience working as a Product
                                    Designer.
                                </li>
                                <br />
                                <li>
                                    You have experience using Sketch and InVision or Framer X
                                </li>
                                <br />
                                <li>
                                    You have some previous experience working in an agile
                                    environment – Think two-week sprints.
                                </li>
                                <br />
                                <li>
                                    You are familiar using Jira and Confluence in your workflow
                                </li>
                            </ul>
                        </div>*@
                    </section>
                    <br /><br /><br />
                    <div class="d-flex flex-row align-items-center">
                        <span><b>Share this post: </b></span>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <div>
                            <button class="btn btn-primary">Facebook</button>
                            <button class="btn btn-secondary">Twitter</button>
                            <button class="btn btn-dark">Instagram</button>
                        </div>
                    </div>
                    <div class="d-flex flex-column mt-5">
                        <h4><b>Photos</b></h4>
                        <div class="row g-3">
                            @foreach (var item in Model.Job.JobImages)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <img src="~/SiteImages/@item.Image"
                                         alt=""
                                         class="border-radius"
                                         style="width: 150px; height: 150px" />
                                </div>
                            }

                        </div>
                    </div>
                    <div class="d-flex flex-column my-5">
                        <h4><b>Related Jobs</b></h4>
                        <br />
                        <div class="row mt-5">
                            <div class="col-12">
                                @foreach (var item in Model.RelatedJobs.OrderBy(x=>x.CreatedAt).Take(5))
                                {
                                    <div class="card p-3 d-flex flex-row RelatedJobCard mb-3">
                                        <div class="RelatedJobCardImage me-3">
                                            <img src="~/SiteImages/@item.JobImages.FirstOrDefault(x=>x.IsPoster).Image"
                                                 alt=""
                                                 style="width: 60px; height: 60px" />
                                        </div>
                                        <div>
                                            <div class="d-flex flex-row">
                                                <div class="d-flex flex-row align-items-center">
                                                    <h5 class="d-flex align-items-center">
                                                        <b>@item.Name</b>
                                                    </h5>
                                                    @if (item.IsFeatured)
                                                            {
                                                                Html.Raw(" &nbsp; &nbsp; &nbsp;");
                                                        <span class="d-flex align-items-center"
                                                              style="color: green; font-size: 14px">Featured</span>
                                                    }

                                                </div>
                                                <div class="d-flex flex-row justify-content-end">
                                                    <i class="fas fa-bookmark ms-5 grey"></i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6 col-12 grey d-flex flex-row">
                                                    <div class="JobIcon">
                                                        <i class="fas fa-envelope"></i>
                                                    </div>
                                                    <span class="ms-2">@item.JobCategory.Name</span>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-12 grey d-flex flex-row">
                                                    <div class="JobIcon">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </div>
                                                    <span class="ms-2">@item.City.CityName</span>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-12 grey d-flex flex-row">
                                                    <div class="JobIcon">
                                                        <i class="fas fa-money-bill-alt"></i>
                                                    </div>
                                                    <span class="ms-2">@item.OfferedMinSalary-@item.OfferedMaxSalary/@item.OfferedSalaryForTime</span>
                                                </div>
                                            </div>
                                            <div class="RelatedFullUrgent">
                                                <div class="FullTime border-radius px-3">@item.JobType</div>
                                                @if (item.IsUrgent)
                                                {
                                                    <div class="Urgent border-radius px-3">Urgent</div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                    <br /><br /><br />
                </div>
                <div class="col-lg-4 col-12">
                    <div class="d-flex justify-content-end">
                        <span>Application ends: </span>
                        <span style="color: red">@Model.Job.ExpirationDate.ToString("MMM dd, yyyy")</span>
                    </div>
                    <br />
                    <div class="d-flex flex-row justify-content-around align-items-center">
                        <button class="btn btn-primary px-5 w-75">Apply Now</button>
                        <div class="
                  d-flex
                  align-items-center
                  justify-content-center
                  border-radius
                  bookmarkIcon
                "
                             style="
                  background-color: #eff4fc;
                  color: #1967d2;
                  width: 35px;
                  height: 35px;
                ">
                            <i class="fas fa-bookmark"></i>
                        </div>
                    </div>
                    <br />
                    <div class="grey d-flex justify-content-center">OR APPLY WITH</div>
                    <br />
                    <div>
                        <div class="card p-3 border-0 py-5"
                             style="background-color: #f5f7fc">
                            <div class="d-flex flex-row">
                                <img src="~/SiteImages/@Model.EmployerImage.Image"
                                     alt=""
                                     style="width: 70px; height: 70px" />
                                <div class="d-flex flex-column justify-content-center ms-3">
                                    <b>@Model.Job.Employer.Name</b>
                                    <a href="" style="text-decoration: none">
                                        View Company Profile
                                    </a>
                                </div>
                            </div>
                            <br />
                            <p class="d-flex flex-row">
                                <b>Categories:</b>
                                <span class="d-flex w-100 justify-content-end">@Model.Job.Employer.Category.Name</span>
                            </p>
                            <p class="d-flex flex-row">
                                <b>Founded Date:</b>
                                <span class="d-flex w-100 justify-content-end align-items-center">@Model.Job.Employer.FoundedDate</span>
                            </p>
                            <p class="d-flex flex-row">
                                <b>Location:</b>
                                <span class="d-flex w-100 justify-content-end">@Model.Job.Employer.City.CityName</span>
                            </p>
                            <p class="d-flex flex-row">
                                <b>Phone Number:</b>
                                <span class="d-flex w-100 justify-content-end align-items-center">
                                    @Model.Job.Employer.PhoneNumber
                                </span>
                            </p>
                            <p class="d-flex flex-row">
                                <b>Email:</b>
                                <span class="d-flex w-100 justify-content-end">@Model.Job.Employer.Email</span>
                            </p>
                            <p class="d-flex flex-row">
                                <b>Socials:</b>
                                <span class="d-flex w-100 justify-content-end">
                                    <a href="@Model.Job.Employer.FacebookUrl" style="text-decoration: none">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="@Model.Job.Employer.TwitterUrl" class="mx-3" style="text-decoration: none">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="@Model.Job.Employer.LinkedinUrl" style="text-decoration: none">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="@Model.Job.Employer.InstagramUrl" class="mx-3" style="text-decoration: none">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </span>
                            </p>
                            <br />
                            <a href="" style="text-decoration: none" class="CompanyButtonA">
                                <button class="border-0 border-radius w-100 py-3 CompanyButton">
                                    @Model.Job.Employer.Website
                                </button>
                            </a>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="card p-3 border-0 mb-5 py-5"
                             style="background-color: #f5f7fc">
                            <h4><b>Contact @Model.Job.Name</b></h4>
                            <br />
                            <form asp-action="getcontact" asp-controller="job" asp-route-id="@Model.Job.Id" method="post" class="w-100"  enctype="multipart/form-data">
                                <input type="text" asp-for="@Model.JobContact.Subject"
                                       class="w-100 border-radius py-3 border-0 ps-3"
                                       placeholder="Subject" />
                                <span asp-validation-for="@Model.JobContact.Subject" class="text-danger"></span>
                                <br />
                                <br />
                                <input type="email" asp-for="@Model.JobContact.Email"
                                       class="w-100 border-radius py-3 border-0 ps-3"
                                       placeholder="Email" />
                                <span asp-validation-for="@Model.JobContact.Email" class="text-danger"></span>
                                <br />
                                <br />
                                <input type="text" asp-for="@Model.JobContact.PhoneNumber"
                                       class="w-100 border-radius py-3 border-0 ps-3"
                                       placeholder="Phone" />
                                <span asp-validation-for="@Model.JobContact.PhoneNumber" class="text-danger"></span>
                                <br />
                                <br />
                                <textarea class="border-0 border-radius ps-3 pt-3" asp-for="@Model.JobContact.Message"
                                          id=""
                                          rows="10"
                                          style="
                      height: 150px !important;
                      max-height: 150px !important;
                      min-height: 150px !important;
                      width: 100%;
                    "
                                          placeholder="Message"></textarea>
                                <span asp-validation-for="@Model.JobContact.Message" class="text-danger"></span>
                                <br />
                                <br />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <button type="submit"
                                        class="btn btn-primary w-100 border-radius py-3 JobContact">
                                    Send Message
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
 