@using JobSearchFullWebSite.ViewModels
@model JobIndexViewModel 
@{
    ViewData["Title"] = "Index";
}

    <main>
        <div class="backColorBlue py-5">
            <div class="container">
                <form class="p-4" asp-action="index" asp-controller="job">
                    <div class="bg-white d-flex flex-row row g-4 p-4 border-radius"
                         style="max-width: 100% !important">
                        <div class="
                  d-flex
                  flex-row
                   col-lg-3 col-md-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-search" style="font-size: 20px"></i>
                            </div>
                            <div>
                                <input type="text"
                                       name="search"
                                       class="onclickBorderNone p-2 Width"
                                       placeholder="Job Title..." />
                            </div>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-map-marker-alt" style="font-size: 20px"></i>
                            </div>
                            <select  class="ms-2 border-0 grey Width" asp-for="@Model.Job.City.Id" asp-items="@(new SelectList(Model.Cities, "Id", "CityName"))">
                                <option value="">All Cities</option>
                            </select>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-briefcase" style="font-size: 20px"></i>
                            </div>
                            <select class="ms-2 border-0 grey Width" asp-for="@Model.Job.JobCategory.Id" asp-items="@(new SelectList(Model.JobCategories, "Id", "Name"))">
                                <option value="">All Categories</option>

                            </select>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  blue
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-angle-down"></i>
                            </div>
                            <div class="Advanced">Advanced</div>
                            <div class="ms-2">
                                <button type="submit" class="btn btn-primary">
                                    Find Jobs
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="
                bg-white
                border-radius
                flex-row
                row
                p-4
                me-2
                mt-2
                DropdownOnclickAdvanced
              ">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Type</b>
                                @{ int count = 0;
                                    @foreach (var item in Model.JobType.GetType().GetEnumNames().ToList())
                                    {

                                        <div class="mt-3 d-flex flex-row">
                                            <label class="switch d-flex">
                                                <input type="checkbox" class="typeEnum enum" name="types[@count]" value="@item.ToString()" />
                                                <span class="slider round"></span>
                                            </label>
                                            <div class="SwitchItem ms-2 grey">@item</div>
                                        </div>

                                        count++;
                                    }
                                }
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Experience</b>
                                @{ int count1 = 0;
                                    @foreach (var item in Model.Experience.GetType().GetEnumNames().ToList())
                                    {
                                        <div class="mt-3 d-flex flex-row">
                                            <label class="switch d-flex">
                                                <input type="checkbox" class="experienceEnum enum" name="experiences[@count1]" value="@item.ToString()" />
                                                <span class="slider round"></span>
                                            </label>
                                            <div class="SwitchItem ms-2 grey">@item</div>
                                        </div>
                                        count1++;
                                    }}

                            </div>
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Career Level</b>
                                @{ int count2 = 0;
                                    @foreach (var item in Model.CareerLevel.GetType().GetEnumNames().ToList())
                                    {
                                    <div class="mt-3 d-flex flex-row">
                                        <label class="switch d-flex">
                                            <input type="checkbox" name="careerLevels[@count2]" value="@item.ToString()" class="levelEnum enum"/>
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="SwitchItem ms-2 grey">@item.ToString()</div>
                                    </div>
                                        count2++;
                                    }
                                    }

                            </div>
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Qualification</b>
                                @{ int count3 = 0;
                                    @foreach (var item in Model.Qualification.GetType().GetEnumNames())
                                    {
                                        <div class="mt-3 d-flex flex-row">
                                            <label class="switch d-flex">
                                                <input type="checkbox" class="qualificationEnum enum" name="qualifications[@count3]" value="@item.ToString()" />
                                                <span class="slider round"></span>
                                            </label>
                                            <div class="SwitchItem ms-2 grey">@item</div>
                                        </div>
                                        count3++;
                                    }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row my-5">
                <div class="col-md-6 col-12">Showing All 18 Results</div>
                <div class="col-md-6 col-12">
                    <div class="d-flex flex-row justify-content-end">
                        <div class="d-flex flex-column">
                            <div class="backColorBlue border-radius px-4 py-2 SortBy">
                                Sort By >
                            </div>
                            <div class="bg-white border-radius SortingBy p-3"
                                 style="border: 1px solid grey">
                                <div class="d-flex flex-column">
                                    <span>Newest</span>
                                    <span>Oldest</span>
                                    <span>Random</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column ms-4">
                            <div class="backColorBlue border-radius px-4 py-2 AllClick">
                                All >
                            </div>
                            <div class="bg-white border-radius All p-3"
                                 style="border: 1px solid grey">
                                <div class="d-flex flex-column">
                                    <span>12 Per page</span>
                                    <span>All</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-4">
            <div class="row my-5 g-4">
                @foreach (var item in Model.Jobs)
                {
                    <div class="col-md-6 col-12">
                        <div class="card p-2 border-radius JobListCardShadow py-4">
                            <div class="container flex-row JobListCard">
                                <div class="JobListCardImage">
                                    @if (item.JobImages.Count() != 0)
                                    {
                                        if (item.JobImages.FirstOrDefault(x => x.IsPoster) != null)
                                        {
                                            if (item.JobImages.FirstOrDefault(x => x.IsPoster).Image != null)
                                            {
                                                <img src="~/SiteImages/@item.JobImages.FirstOrDefault(x=>x.IsPoster).Image"
                                                     alt="" />
                                            }
                                        }
                                    }

                                </div>
                                <div class="row ms-2">
                                    <div class="row">
                                        <div class="col-sm-10 col-12 d-flex flex-row">
                                            <div class="row">
                                                <div class="col-lg-8 col-12">
                                                    <h5><b>@item.Name</b></h5>
                                                </div>
                                                @if (item.IsFeatured)
                                                {
                                                    <div class="col-lg-4 col-12">
                                                        <span class="green">Featured</span>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-12 d-flex flex-row">
                                            <i class="far fa-bookmark"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="
                        col-lg-4 col-md-6 col-12
                        d-flex
                        flex-row
                        justify-content-center
                        align-items-center
                        grey
                      ">
                                            <i class="fas fa-briefcase me-2"></i>
                                            <span>@item.JobCategory.Name</span>
                                        </div>
                                        <div class="
                        col-lg-4 col-md-6 col-12
                        d-flex
                        flex-row
                        justify-content-center
                        align-items-center
                        grey
                      ">
                                            <i class="fas fa-map-marker-alt me-2"></i>
                                            <span>@item.City.CityName</span>
                                        </div>
                                        <div class="
                        col-lg-4 col-md-6 col-12
                        d-flex
                        flex-row
                        justify-content-center
                        align-items-center
                        grey
                      ">
                                            <i class="far fa-money-bill-alt me-2"></i>
                                            <span>@item.OfferedMinSalary-@item.OfferedMaxSalary/@item.OfferedSalaryForTime</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="
                          border-radius
                          px-2
                          d-flex
                          align-items-center
                          justify-content-center
                        "
                                                 style="background-color: #dde8f8; color: #1967d2">
                                                <span>@item.JobType</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            @if (item.IsUrgent)
                                            {
                                                <div class="
                          border-radius
                          px-2
                          d-flex
                          align-items-center
                          justify-content-center
                        "
                                                     style="background-color: #fef2d9; color: #fbbb00">
                                                    <span>Urgent</span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </main>



    @*<script>
        $(document).ready(function () {
            $(document).on("click", ".enum", function (e) {
                e.preventDefault();
                console.log("klik edildi");
            })
        });
    </script>*@