@using JobSearchFullWebSite.Services
@inject LayoutViewModelService service
@using JobSearchFullWebSite.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobSearch</title>
    <!-- -TextEditor- -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Slick Slider CSS only -->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
          integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- FontAwesome CSS only -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <!-- ---------------BOOTSTRAP ICON CDN-------------------- -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css"
          integrity="sha512-YBSrHBAMjFhWHodf0RF58XB/x9lmuwBtyJv1LWDHQa1nOaWNXfG3Etc/lEXfW+qBx8ne79JnzccDs59je/ccVA=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Navbar2/bootstrap3min.css">
    <link rel="stylesheet" href="~/Navbar2/index.css">
    <!-- ---ForSidebar--- -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/jobSearch.css" />
</head>
<body>
    <div class="wrapper">
        <header style="z-index: 1;">
            <div class="mx-3">
                <div id="logo">Job Search</div>
                <nav class="d-flex flex-row NormalMenu">
                    <a asp-action="index" asp-controller="home">Home</a>
                    <a asp-action="index" asp-controller="job">Jobs</a>
                    <a asp-action="index" asp-controller="employer">Employers</a>
                    <a asp-action="index" asp-controller="candidate">Candidates</a>
                    <a asp-action="index" asp-controller="blog">Blog</a>
                    <ul class="dropdown  " style="display: inline-flex !important;align-items: center;">
                        <li type="none" href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:15px">
                            Pages
                        </li>
                        <ul class="dropdown-menu">
                            <li class=""><a asp-action="index" asp-controller="about">About</a></li>
                            <li><a asp-action="faq" asp-controller="about">FAQ</a></li>
                            <li><a asp-action="terms" asp-controller="about">Terms</a></li>
                            <li class="divider"></li>
                            <li><a asp-action="index" asp-controller="contact">Contact</a></li>
                            <li class="divider"></li>
                            @*<li><a asp-action="index" asp-controller="home">One more separated link</a></li>*@
                        </ul>
                    </ul>
                    @if (User.Identity.Name != null)
                    {
                        Candidate candidate = service.GetLoginnedCandidate(User.Identity.Name.ToString());
                        Employer employer = service.GetLoginnedEmployer(User.Identity.Name.ToString());
                        <a href="#" style="margin-left: 10px; text-decoration: none;" class="d-flex flex-row ">@User.Identity.Name</a>
                    }
                    else
                    {
                        <a asp-action="login" asp-controller="account" style="margin-left: 10px; text-decoration: none;" class="d-flex flex-row align-items-center"><button class="ButtonJobOnHover border-radius px-2 py-2 " style="line-height: normal;"><span>Login / Register</span></button></a>
                        <a style="margin-left: 7px; text-decoration: none;" class="d-flex flex-row align-items-center"><button class="ButtonJob border-radius px-2 py-2 " style="line-height: normal;"><span>Add Job</span></button></a>
                    }


                </nav>
                <nav class="d-flex flex-row ResponsiveMenu">
                    <a href=""><i class="far fa-user UserOnScroll"></i></a>
                    <a class="">
                        <i class="fas fa-bars " data-toggle="modal"
                           data-target="#myModal2"> </i>
                    </a>
                </nav>
            </div>
        </header>

        <a id="scrollToTop" class="hide" href="#" style="z-index: 1;">
            <i class="fa fa-arrow-circle-up ScrollDownIcon" style="background-color:red;border-radius:50%;"></i>
        </a>
    </div>
    <style>
        .ScrollDownIcon:hover {
            background-color: white !important;
        }
    </style>

    @RenderBody()

    <div class="container demo">
        <!-- Modal -->
        <!-- modal -->
        <!-- Modal -->
        <div class="modal right "
             id="myModal2"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
                    </div>

                    <div class="modal-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <!-- modal-content -->
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- modal -->
    </div>
    <!-- FOOTER -->
    <footer style="background-color: #302ea7">
        <section class="py-5 container">
            <div class="row g-1">
                <div class="col-lg-3 col-12 d-flex flex-column white"
                     style="width: 22%; max-width: 22%">
                    <div class="FooterLogo">
                        <img src="~/SiteImages/@service.GetSetting().FooterLogo"
                             alt="" />
                    </div>
                    <br />
                    <h5 class="CallUs d-flex flex-column">
                        <b>Call Us</b>
                        <span><b>@service.GetSetting().Phone</b> </span>
                    </h5>
                    <p><b>@service.GetSetting().Location</b></p>
                    <p><b>@service.GetSetting().Email</b></p>
                </div>
                <div class="col-lg-3 col-12">
                    <h5><b class="white">Find Jobs</b></h5>
                    <p class="d-flex flex-row align-items-center FooterMenuItem">
                        <span class="FooterMenuItemLeft"> </span>
                        <a href="" class="white text-decoration-none">Browse Jobs</a>
                    </p>
                    <p class="d-flex flex-row align-items-center FooterMenuItem">
                        <span class="FooterMenuItemLeft"> </span>
                        <a href="" class="white text-decoration-none">Browse Candidates</a>
                    </p>
                    <p class="d-flex flex-row align-items-center FooterMenuItem">
                        <span class="FooterMenuItemLeft"> </span>
                        <a href="" class="white text-decoration-none">Candidate Dashboard</a>
                    </p>
                    <p class="d-flex flex-row align-items-center FooterMenuItem">
                        <span class="FooterMenuItemLeft"></span>
                        <a href="" class="white text-decoration-none">Job Alerts</a>
                    </p>
                    <p class="d-flex flex-row align-items-center FooterMenuItem">
                        <span class="FooterMenuItemLeft"></span>
                        <a href="" class="white text-decoration-none">My Bookmarks</a>
                    </p>
                </div>
                <div class="col-lg-3 col-12">
                    <h5><b class="white">Frequently Asked Questions</b></h5>
                    <div class="Frequently">
                        <div class="col-lg-6 col-12">
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">Site Map</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">Terms of Use</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"></span>
                                <a href="" class="white text-decoration-none">Privacy Center</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">Security Center</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">Accessibility Center</a>
                            </p>
                        </div>
                        <div class="col-md-6 col-12 d-flex flex-column justify-content-end">
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">Contact Us</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">About Us</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"></span>
                                <a href="" class="white text-decoration-none">Terms</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">Packages</a>
                            </p>
                            <p class="d-flex flex-row align-items-center FooterMenuItem">
                                <span class="FooterMenuItemLeft"> </span>
                                <a href="" class="white text-decoration-none">FAQ</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <h5><b class="white">Join Us On</b></h5>
                    <br />
                    <p class="white">We don’t send spam so don’t worry.</p>
                    <br />
                    <div class="bg-white px-3 d-flex flex-row py-2 border-radius">
                        <input type="email"
                               placeholder="Your e-mail"
                               class="border-0 w-75" />
                        <div style="
                  width: 50px;
                  height: 50px;
                  border-radius: 5px;
                  background-color: chocolate;
                  font-size: 29px;
                "
                             class="d-flex justify-content-center align-items-center">
                            <i class="far fa-envelope white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="white" />
        <section class="d-flex align-items-center container py-3 HrBottom">
            <div class="white col-sm-6 col-12">
                © <b class="NowYear"></b> Superio. All Right Reserved.
            </div>
            <div class="d-flex justify-content-end col-sm-6">
                <a href="@service.GetSetting().FacebookUrl"> <i class="fab fa-facebook-f white" style="float: left"></i></a>
                <a href="@service.GetSetting().TwitterUrl"><i class="fab fa-twitter white mx-3" style="float: left"></i></a>
                <a href="@service.GetSetting().InstagramUrl"><i class="fab fa-instagram white" style="float: left"></i></a>
                <a href="@service.GetSetting().LinkedinUrl"><i class="fab fa-linkedin-in white ms-3" style="float: left"></i></a>




            </div>
        </section>
    </footer>
</body>

</html>

<!-- --MAP --- -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLSFRa0DyBj9VGzT7GM6SFbSMcG0YNBM"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, "load", init);
    function init() {
        var a = $(".cordinatlar").attr("data-id1");
        var b = $(".cordinatlar").attr("data-id2");
        var mapOptions = {
            zoom: 11,
            center: new google.maps.LatLng(40.4093, 49.8671), // New York
            styles: [
                {
                    featureType: "water",
                    elementType: "geometry",
                    stylers: [{ color: "#e9e9e9" }, { lightness: 17 }],
                },
                {
                    featureType: "landscape",
                    elementType: "geometry",
                    stylers: [{ color: "#f5f5f5" }, { lightness: 20 }],
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.fill",
                    stylers: [{ color: "#ffffff" }, { lightness: 17 }],
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.stroke",
                    stylers: [{ color: "#ffffff" }, { lightness: 29 }, { weight: 0.2 }],
                },
                {
                    featureType: "road.arterial",
                    elementType: "geometry",
                    stylers: [{ color: "#ffffff" }, { lightness: 18 }],
                },
                {
                    featureType: "road.local",
                    elementType: "geometry",
                    stylers: [{ color: "#ffffff" }, { lightness: 16 }],
                },
                {
                    featureType: "poi",
                    elementType: "geometry",
                    stylers: [{ color: "#f5f5f5" }, { lightness: 21 }],
                },
                {
                    featureType: "poi.park",
                    elementType: "geometry",
                    stylers: [{ color: "#dedede" }, { lightness: 21 }],
                },
                {
                    elementType: "labels.text.stroke",
                    stylers: [
                        { visibility: "on" },
                        { color: "#ffffff" },
                        { lightness: 16 },
                    ],
                },
                {
                    elementType: "labels.text.fill",
                    stylers: [
                        { saturation: 36 },
                        { color: "#333333" },
                        { lightness: 40 },
                    ],
                },
                { elementType: "labels.icon", stylers: [{ visibility: "off" }] },
                {
                    featureType: "transit",
                    elementType: "geometry",
                    stylers: [{ color: "#f2f2f2" }, { lightness: 19 }],
                },
                {
                    featureType: "administrative",
                    elementType: "geometry.fill",
                    stylers: [{ color: "#fefefe" }, { lightness: 20 }],
                },
                {
                    featureType: "administrative",
                    elementType: "geometry.stroke",
                    stylers: [{ color: "#fefefe" }, { lightness: 17 }, { weight: 1.2 }],
                },
            ],
        };
        var mapElement = document.getElementById("googleMap");
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            icon: "img/map-marker.png",
            map: map,
        });
    }
</script>
<!-- --TextEditor-- -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>
<!-- <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-base.min.js"></script> -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="~/Navbar2/bootstrap3min.js"></script>
<script src="~/Navbar2/jquery1.js"></script>
<script src="~/Navbar2/index.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="~/js/index.js"></script>
<!-- ---ForSidebar--- -->
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- SlickSlider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>