
@using JobSearchFullWebSite.Areas.Manage.ViewModels
@model AdminRegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateAdmin";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>sign up</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Register start -->
<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>sign up</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form asp-action="createadmin" asp-controller="account" method="post">


                                <input asp-for="@Model.FullName" placeholder="FullName">
                                <span class="text-danger" asp-validation-for="@Model.FullName"></span>
                                <input asp-for="@Model.UserName" placeholder="UserName">
                                <span class="text-danger" asp-validation-for="@Model.UserName"></span>
                                <input asp-for="@Model.Password" placeholder="Password">
                                <span class="text-danger" asp-validation-for="@Model.Password"></span>
                                <input asp-for="@Model.ConfirmedPassword" placeholder="ConfirmedPassword">
                                <span class="text-danger" asp-validation-for="@Model.ConfirmedPassword"></span>
                                <!--<div class="button-box">-->
                                @*<div class="login-toggle-btn">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember me</label>
                                        <a href="#">Forgot Password?</a>
                                    </div>*@
                                <button type="submit" class="default-btn">sign up</button>
                                @*</div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end -->
