
@using JobSearchFullWebSite.Areas.Manage.ViewModels
@model AdminRegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateAdmin";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    @*<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>*@
                    <div class="col-md-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create New Admin</h1>
                            </div>
                            <form asp-action="createadmin" asp-controller="account" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label asp-for="@Model.FullName ">FullName</label>
                                        <input asp-for="@Model.FullName" class="form-control form-control-user"
                                               placeholder="FullName">
                                        <span class="text-danger" asp-validation-for="@Model.FullName"></span>

                                    </div>
                                    <div class="col-sm-6">
                                        <label asp-for="@Model.UserName">UserName</label>
                                        <input asp-for="@Model.UserName" class="form-control form-control-user"
                                               placeholder="UserName">
                                        <span class="text-danger" asp-validation-for="@Model.FullName"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label asp-for="@Model.Password"> Password</label>
                                        <input asp-for="@Model.Password" class="form-control form-control-user"
                                               id="exampleInputPassword" placeholder="Password">
                                        <span class="text-danger" asp-validation-for="@Model.Password"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label asp-for="@Model.ConfirmedPassword">Confirm Password</label>
                                        <input asp-for="@Model.ConfirmedPassword" class="form-control form-control-user"
                                               id="exampleRepeatPassword" placeholder="Repeat Password">
                                        <span class="text-danger" asp-validation-for="@Model.ConfirmedPassword"></span>
                                    </div>
                                </div>
                                <hr>

                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <hr>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Create Admin
                                </button>
                                <hr>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>






















<!--<!--<!-- Banner Area Start -->
<!--<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>sign up</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Banner Area End -->
<!-- Register start -->
<!--<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>sign up</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form asp-action="createadmin" asp-controller="account" method="post">


                                <input asp-for="" placeholder="FullName">
                                <span class="text-danger" asp-validation-for=""></span>
                                <input asp-for="" placeholder="UserName">
                                <span class="text-danger" asp-validation-for=""></span>
                                <input asp-for="" placeholder="Password">
                                <span class="text-danger" asp-validation-for=""></span>
                                <input asp-for="" placeholder="ConfirmedPassword">
                                <span class="text-danger" asp-validation-for=""></span>-->
                                <!--<div class="button-box">--><!---->                                <!---->@*<div class="login-toggle-btn">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember me</label>
                                        <a href="#">Forgot Password?</a>
                                    </div>*@
                                <!--<!--<button type="submit" class="default-btn">sign up</button>-->
                                <!--@*</div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Register end -->
