@using JobSearchFullWebSite.DTOs
@using JobSearchFullWebSite.Enums
@model EmployerEditDto
@{
    ViewData["Title"] = "EmployerProileEdit";
}


<style>
    p {
        margin-bottom: 5px !important;
    }
</style>
<div class="cont">
    <div class="main px-4">
        <form method="post" enctype="multipart/form-data">
            <br />
            <br />
            <h4><b>Following Employers </b></h4>
            <div class="card p-4 mt-4">
                <b>My Profile</b>
                <div class="row mt-3">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-md-2 col-12 d-flex flex-row align-items-center ImageAndUpload">
                                @if (Model != null && Model.PosterImage != "")
                                {
                                    <img src="~/images/candidateImage/@Model.PosterImage"
                                         alt=""
                                         style="height: 60px; width: 60px"
                                         class="border-radius" />
                                    <input type="hidden" value="@Model.PosterImage" name="PosterImage" class="HiddenInputImage" />
                                    <div class="ImageXIcon backColorBlue  border-radius p-2  flex-row  align-items-center justify-content-center" style="width: 20px;height: 20px;"><i class="fas fa-times blue " ></i></div>

                                }
                                else
                                {
                                    <div>Sekil yukle</div>
                                }


                            </div>
                            <dv class="col-md-4 col-12 d-flex flex-row align-items-center mt-2">
                                @*<input type="file" id="file" asp-for="@Model.File "/>
                                    <label for="file" asp-for="@Model.File " class=" backColorBlue"><span class="blue">Browse</span> </label>*@
                                <input class="form-control col-md-2 " id="file" type="file" asp-for="@Model.PosterImageFile" style="display:contents;">
                                <label for="file" class=" backColorBlue"><span class="blue">Browse</span></label>
                        </div>

                        <div class="d-flex flex-column mt-4">
                            <label asp-for="@Model.Name">Name</label>
                            <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Candidate" asp-for="@Model.Name">
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                            <br>

                            <label asp-for="@Model.FoundedDate">FoundedDate</label>
                            <input type="number" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="FoundedDate" asp-for="@Model.FoundedDate">
                            <span asp-validation-for="@Model.FoundedDate" class="text-danger"></span>
                            <br>
     



 
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="d-flex flex-column">
                            <label asp-for="@Model.Email">Email</label>
                            <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Email" asp-for="@Model.Email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            <br>
                            <label asp-for="@Model.CategoryId">Categoriya</label>
                            <select class="border-radius border-0 backColorBlue py-2 px-2" asp-for="@Model.CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                                <option class="" selected disabled>Categoriya sec</option>
                            </select>
                            <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                            <br>
                            <label asp-for="@Model.PhoneNumber">Number</label>
                            <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Phone Number" asp-for="@Model.PhoneNumber">
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                            <br>
 
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-row">
                        <div class="col-8 d-flex flex-column" >
                            <label asp-for="@Model.Website">Website</label>
                            <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Website" asp-for="@Model.Website">
                            <span asp-validation-for="@Model.Website" class="text-danger"></span>
                            <br>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <label asp-for="@Model.CityId">City</label>
                            <select class="border-radius border-0 backColorBlue py-2 px-2" asp-for="@Model.CityId" asp-items="@(new SelectList(ViewBag.Cities, "Id", "CityName"))">
                                <option class="" selected disabled>City sec</option>
                            </select>
                            <span asp-validation-for="@Model.CityId" class="text-danger"></span>
                            <br>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <label>Description</label>
                            <textarea asp-for="@Model.CompanyContent">
                                </textarea>
                            <span class="text-danger" asp-validation-for="@Model.CompanyContent"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-4 mt-4">
                <b>Social Network</b>
                <div class="d-flex flex-column mt-4">
                    <label asp-for="@Model.FacebookUrl">Facebook Url</label>
                    <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Facebook" asp-for="@Model.FacebookUrl">
                    <span asp-validation-for="@Model.FacebookUrl" class="text-danger"></span>
                    <br>
                    <label asp-for="@Model.TwitterUrl">Twitter Url</label>
                    <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Twitter" asp-for="@Model.TwitterUrl">
                    <span asp-validation-for="@Model.TwitterUrl" class="text-danger"></span>
                    <br>
                    <label asp-for="@Model.LinkedinUrl">Linkedin Url</label>
                    <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Linkedin" asp-for="@Model.LinkedinUrl">
                    <span asp-validation-for="@Model.LinkedinUrl" class="text-danger"></span>
                    <br>
                    <label asp-for="@Model.InstagramUrl">Instagram Url</label>
                    <input type="text" class="border-0 backColorBlue border-radius py-2 px-2" placeholder="Instagram" asp-for="@Model.InstagramUrl">
                    <span asp-validation-for="@Model.InstagramUrl" class="text-danger"></span>
                    <br>
                </div>
            </div>
            <div class="card p-4 mt-4">
                <b>Images</b>
                <div class="mt-4">
                    @{ int m = 0;
                        if (Model.EmployerImages != null)
                        {
                            @foreach (var item in Model.EmployerImages.Where(x => !x.IsPoster))
                            {


                                <div class="col-lg-3 col-md-6 col-12 PositionRelativeForIcon">
                                    <input type="hidden" name="ImagesId[]" value="@item.Id" />
                                    <input type="hidden" name="EmployerImages[@m].Image" value="@item.Image" />
                                    <img src="./../SiteImages/@item.Image" alt="" class="border-radius" style="width: 200px;height: 200px;">
                                    <div class="PortfolioXIcon backColorBlue  border-radius p-2 d-flex align-items-center justify-content-center RemoveImageItem" style="width: 20px;height: 20px;"><i class="fas fa-times blue"></i></div>
                                </div>
                                m++;
                            }}
                    }

                </div>
                <div>
                    <input class="form-control col-md-2 " asp-for="@Model.Images" style="display:block !important; width:auto !important;height:auto !important;">
                    <span asp-validation-for="@Model.Images" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br>
            <button type="submit" class="btn btn-primary">Save Profile</button>
        </form>
    </div>
    <div class="sidebar ps-3">
        <div class="">
            <div class="ImageAndUserName flex-row">
                <div class="UserImage d-flex align-items-center">
                    <img src="./../SiteImages/member4.jpg"
                         alt=""
                         style="width: 60px; height: 60px; border-radius: 50%" />
                </div>
                <div class="
                    d-flex
                    flex-column
                    ms-3
                    align-items-center
                    justify-content-center
                  ">
                    <div class="UserName"><b>User Name</b></div>
                    <div class="UserCity">User City</div>
                    <div class="UserProfileButton">
                        <a href="">
                            <button class="btn btn-primary" style="font-size: 10px">
                                View Profile
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column">
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="far fa-file-alt"></i></div>
                    <div class="SectionName ms-2">User Dashboard</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="far fa-user-circle"></i></div>
                    <div class="SectionName ms-2">Profile</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="fas fa-file-signature"></i></div>
                    <div class="SectionName ms-2">My resume</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="fas fa-volume-up"></i></div>
                    <div class="SectionName ms-2">My applied</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="far fa-bookmark"></i></div>
                    <div class="SectionName ms-2">Shortlist Jobs</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="far fa-user"></i></div>
                    <div class="SectionName ms-2">Following Employers</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="fas fa-volume-up"></i></div>
                    <div class="SectionName ms-2">Alert Jobs</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="fab fa-weixin"></i></div>
                    <div class="SectionName ms-2">Messages</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="fas fa-lock"></i></div>
                    <div class="SectionName ms-2">Change Password</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="far fa-trash-alt"></i></div>
                    <div class="SectionName ms-2">Delete Profile</div>
                </a>
                <a class="d-flex mt-2 UserProfileItem px-2 border-radius">
                    <div class="Icon"><i class="fas fa-power-off"></i></div>
                    <div class="SectionName ms-2">Logout</div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        font-size: 15px !important;
    }

    .sidebar {
        background: black;
        color: white;
        position: fixed;
        width: 20%;
        height: 100%;
        left: 0;
        overflow: auto;
        display: block;
        margin-top: -30px !important;
        padding-top: 40px !important;
    }

    .main {
        background: silver;
        color: black;
        width: 80%;
        float: right;
    }

        .main p {
            margin-bottom: 50px;
        }

    footer {
        display: none;
    }

    .ImageAndUserName {
        display: flex;
    }
</style>




<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('CompanyContent');
</script>
