@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using JobSearchFullWebSite.Models
@model SiteContact
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.Name">Name</label>
                <input asp-for="@Model.Name" class="form-control" id="Name" placeholder="Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control" id="Email" placeholder="Email">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Subject">Subject</label>
                <input asp-for="@Model.Subject" class="form-control" id="Subject" placeholder="Subject">
                <span asp-validation-for="@Model.Subject" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="@Model.Comment">Message</label>
                <input asp-for="@Model.Comment" class="form-control" id="Comment" placeholder="Comment">
                <span asp-validation-for="@Model.Comment" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="text-danger" asp-validation-summary="ModelOnly"> </div>
        <br />
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>
