@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using JobSearchFullWebSite.Models
@model Testimonial
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">

        <div class="form-row">
            <div class="form-group col-md-4 d-flex flex-column">
                <label asp-for="@Model.Name">Name</label>
                <input asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 d-flex flex-column">
                <label asp-for="@Model.Position">Position</label>
                <input asp-for="@Model.Position" />
                <span asp-validation-for="@Model.Position" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 d-flex flex-column">
                <label asp-for="@Model.BlueText">Blue Text</label>
                <input asp-for="@Model.BlueText" />
                <span asp-validation-for="@Model.BlueText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 d-flex flex-column">
                <label asp-for="@Model.Content">Content</label>
                <input asp-for="@Model.Content" />
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 d-flex flex-column">
                <label asp-for="@Model.TestimonialImage">Image</label>
                <input asp-for="@Model.TestimonialImage" />
                <span asp-validation-for="@Model.TestimonialImage" class="text-danger"></span>
            </div>
            <div class="row">
                @if (Model != null)
                {
                    <div class="img-box col-md-4" style="position:relative;max-width:200px;width:200px;height:200px;max-height:200px;">
                        <img class="d-block" src="~/uploads/@Model.Image" style="max-width:180px;width:180px;height:180px;max-height:180px;margin-left:10px;padding-top:20px" />
                        <i class="fas fa-times remove-img-box" style="color:red;position:absolute;cursor:pointer;right:4px;top:2px;font-size:17px"></i>
                        @*<input type="hidden" name="AboutTopImageId[]" value="@Model.Id" />*@
                    </div>
                }
            </div>
        </div>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>
