@using JobSearchFullWebSite.Models
@using JobSearchFullWebSite.DTOs
@model EmployerEditDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Name">Name</label>
                <input asp-for="@Model.Name" class="form-control" id="Name" placeholder="Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="@Model.FoundedDate">Subject</label>
                <input asp-for="@Model.FoundedDate" class="form-control" id="FoundedDate" placeholder="FoundedDate">
                <span asp-validation-for="@Model.FoundedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="@Model.PhoneNumber">PhoneNumber</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" id="PhoneNumber" placeholder="PhoneNumber">
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control" id="Email" placeholder="Email">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="@Model.CityId">City</label>
                <select class="border-radius border-0 backColorBlue py-2 px-2" asp-for="@Model.CityId" asp-items="@(new SelectList(ViewBag.Cities,"Id","CityName"))">
                    <option class="" selected disabled value="">Seher sec</option>
                </select>
                <span asp-validation-for="@Model.CityId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="@Model.CategoryId">CategoryId</label>
                <select class="border-radius border-0 backColorBlue py-2 px-2" asp-for="@Model.CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                    <option class="" selected disabled value="">Kateqoriya sec</option>
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.FacebookUrl">FacebookUrl</label>
                <input asp-for="@Model.FacebookUrl" class="form-control" id="FacebookUrl" placeholder="FacebookUrl">
                <span asp-validation-for="@Model.FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.TwitterUrl">TwitterUrl</label>
                <input asp-for="@Model.TwitterUrl" class="form-control" id="TwitterUrl" placeholder="TwitterUrl">
                <span asp-validation-for="@Model.TwitterUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.LinkedinUrl">LinkedinUrl</label>
                <input asp-for="@Model.LinkedinUrl" class="form-control" id="LinkedinUrl" placeholder="LinkedinUrl">
                <span asp-validation-for="@Model.LinkedinUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.InstagramUrl">InstagramUrl</label>
                <input asp-for="@Model.InstagramUrl" class="form-control" id="InstagramUrl" placeholder="InstagramUrl">
                <span asp-validation-for="@Model.InstagramUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.CompanyContent">CompanyContent</label>
                <textarea asp-for="@Model.CompanyContent" class="form-control" id="CompanyContent" placeholder="CompanyContent"></textarea>
                <span asp-validation-for="@Model.CompanyContent" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Website">Website</label>
                <input asp-for="@Model.Website" class="form-control" id="Website" placeholder="Website">
                <span asp-validation-for="@Model.Website" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.PosterImageFile">PosterImageFile</label>
                <input asp-for="@Model.PosterImageFile" class="form-control" id="PosterImageFile" placeholder="PosterImageFile">
                <span asp-validation-for="@Model.PosterImageFile" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Images">Images</label>
                <input asp-for="@Model.Images" class="form-control" id="Images" placeholder="Images">
                <span asp-validation-for="@Model.Images" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <br />
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>