
@using JobSearchFullWebSite.Models
@using JobSearchFullWebSite.Enums
@model Apply
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header row">
            <div class="col-md-6">
                @Model.AppUser.UserName  -  @Model.RequestDate.ToString("HH:mm - dd MMMM yyyy")
            </div>
            <div class="col-md-6">
                <form method="post" asp-action="changestatus">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Author</label>
                            <select asp-for="@Model.ApplyStatus" class="form-control" asp-items="@new  SelectList(Enum.GetNames(typeof(JobSearchFullWebSite.Enums.ApplyStatus)))">
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Set status</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Candidate: @Model.AppUser.Candidate.FullName</h5>
                    <h5 class="card-title">Employer: @Model.Job.Employer.Name</h5>
                    <h5 class="card-title">Job: @Model.Job.Name</h5>
                    <p class="card-text">Phone: @Model.ContactPhone</p>
                </div>
            </div>
        </div>

    </div>

</div>



