@using JobSearchFullWebSite.Models

@model Candidate    


@{
    ViewData["Title"] = "Detail";
}

    <main>
        <div class="container">
            <div class="row g-3 py-5">
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="d-flex forResponsive">
                            <img src="~/SiteImages/@Model.CandidateImages.FirstOrDefault(x=>x.IsPoster).Image"
                                 alt=""
                                 style="height: 100px; width: 100px; border-radius: 50%" />
                            <div class="Genaral d-flex flex-column ms-3 w-100 mb-4">
                                <div class="d-flex flex-row">
                                    <h4 class="me-3">
                                        <b>@Model.FullName</b>
                                    </h4>
                                    @if (Model.IsFeatured)
                                    {
                                        <span class="d-flex align-items-center"
                                              style="color: green">
                                            Featured
                                        </span>
                                    }

                                </div>
                                <div class="col-12 row">
                                    <div class="
                        grey
                        col-lg-3 col-md-6 col-12
                        d-flex
                        flex-row
                        align-items-center
                      ">
                                        <span style="color: blue">@Model.Position.PositionName</span>
                                    </div>
                                    <div class="
                        grey
                        col-lg-3 col-md-6 col-12
                        d-flex
                        flex-row
                        align-items-center
                      ">
                                        <i class="bi bi-geo-alt"></i>
                                        <span>@Model.City.CityName</span>
                                    </div>
                                    <div class="
                        grey
                        col-lg-3 col-md-6 col-12
                        d-flex
                        flex-row
                        align-items-center
                      ">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span>@Model.WaitingSalary/@Model.SalaryForTime</span>
                                    </div>
                                    <div class="
                        grey
                        col-lg-3 col-md-6 col-12
                        d-flex
                        flex-row
                        align-items-center
                      ">
                                        <i class="far fa-clock ms-2"></i>
                                        <span>@Model.CreatedAt.ToString("MMM dd, yyyy")</span>
                                    </div>
                                </div>
                                <div class="OpenJobs pt-2 mb-3 d-flex flex-row">
                                    @foreach (var item in Model.CandidateSkills)
                                    {
                                        <a href="">
                                            <span class="px-3 d-flex align-items-center me-2 OpenJobsSpan"
                                                  style="
                          background-color: #dde8f8;
                          border-radius: 20px;
                          color: #7b64ac;
                          font-size: 12px;
                          max-width: 150px;
                        ">
                                                @item.Name
                                            </span>
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="AboutCandidates">
                        @Model.AboutCandidateTextEditor
                        @*<h4><b>About Candidates</b></h4>
                        <p class="grey">
                            Hello my name is Nicole Wells and web developer from Portland.
                            In pharetra orci dignissim, blandit mi semper, ultricies diam.
                            Suspendisse malesuada suscipit nunc non volutpat. Sed porta
                            nulla id orci laoreet tempor non consequat enim. Sed vitae
                            aliquam velit. Aliquam ante erat, blandit at pretium et,
                            accumsan ac est. Integer vehicula rhoncus molestie. Morbi ornare
                            ipsum sed sem condimentum, et pulvinar tortor luctus.
                            Suspendisse condimentum lorem ut elementum aliquam.
                        </p>
                        <p class="grey">
                            Mauris nec erat ut libero vulputate pulvinar. Aliquam ante erat,
                            blandit at pretium et, accumsan ac est. Integer vehicula rhoncus
                            molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar
                            tortor luctus. Suspendisse condimentum lorem ut elementum
                            aliquam. Mauris nec erat ut libero vulputate pulvinar.
                        </p>*@
                    </div>
                    <br />
                    <br />
                    <div class="Education">
                        <h4><b>Education</b></h4>
                        <br />
                        @foreach (var item in Model.CandidateEducationItems)
                        {
                            <div class="EducationItem d-flex flex-row">
                                <div class="d-flex align-items-center mt-3 justify-content-center"
                                     style="
                    background-color: #f9e0df;
                    color: red;
                    width: 40px;
                    height: 30px;
                    border-radius: 50%;
                  ">
                                    <span class="d-flex align-items-center justify-content-center"><b>@item.Title.ToString().Trim()[0]</b></span>
                                </div>
                                <div class="d-flex flex-column ms-3 my-3">
                                    <div class="d-flex flex-row">
                                        <b>@item.Title</b>
                                        <span class="ms-2" style="color: red">@item.Years</span>
                                    </div>
                                    <div style="color: red">@item.EducationPlace</div>
                                    <p class="grey">
                                       @item.Content
                                    </p>
                                </div>
                            </div>
                        }

                    </div>
                    <br />
                    <br />
                    <div class="WorkExperience">
                        <h4><b>Work & Experience</b></h4>
                        @foreach (var item in Model.CandidateWorkItems)
                        {
                            <div class="WorkExperienceItem d-flex flex-row">
                                <div class="d-flex align-items-center mt-3 justify-content-center"
                                     style="
                    background-color: #dde8f8;
                    color: blue;
                    width: 40px;
                    height: 30px;
                    border-radius: 50%;
                  ">
                                    <span class="d-flex align-items-center justify-content-center"><b>@item.Title.ToString().Trim()[0]</b></span>
                                </div>
                                <div class="d-flex flex-column ms-3 my-3">
                                    <div class="d-flex flex-row">
                                        <b>@item.Title</b>
                                        <span class="ms-2" style="color: blue">@item.StartDate.ToString("MM.dd.yyyy")-@item.EndDate.ToString("MM.dd.yyyy")</span>
                                    </div>
                                    <div style="color: blue">@item.WorkPlace</div>
                                    <p class="grey">
                                        @item.Content
                                    </p>
                                </div>
                            </div>
                        }

                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="Portfolio my-5">
                        <h4><b>Portfolio</b></h4>
                        <div class="row mt-3 g-4">
                            @foreach (var item in Model.CandidateImages)
                            {
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <img src="~/SiteImages/@item.Image"
                                         alt=""
                                         style="width: 200px; height: 200px"
                                         class="border-radius border-0" />
                                </div>
                            }

                        </div>
                    </div>
                    <div class="Awards">
                        <h4><b>Awards</b></h4>
                        @foreach (var item in Model.CandidateAwardItems)
                        {
                            <div class="AwardsItem d-flex flex-row">
                                <div class="d-flex align-items-center mt-3 justify-content-center"
                                     style="
                    background-color: #fef2d9;
                    color: #f9ab00;
                    width: 40px;
                    height: 30px;
                    border-radius: 50%;
                  ">
                                    <span class="d-flex align-items-center justify-content-center"><b>@item.Title.ToString().Trim()[0]</b></span>
                                </div>
                                <div class="d-flex flex-column ms-3 my-3">
                                    <div class="d-flex flex-row">
                                        <b>@item.Title</b>
                                        <span class="ms-2" style="color: #f9ab00">@item.Years</span>
                                    </div>
                                    <p class="grey">
                                        @item.Content
                                    </p>
                                </div>
                            </div>
                        }

                    </div>
                    <br />
                    <br />
                    <div class="Comments d-fle flex-column mt-5">
                        <h4><b>2 Commment</b></h4>
                        <br />
                        <div class="comment d-flex flex-row mt-3">
                            <div class="CommentUserImage">
                                <img src="https://secure.gravatar.com/avatar/70bb49755b38874fc6ef1a6cc91118d7?s=80&d=mm&r=g"
                                     alt=""
                                     style="width: 80px; height: 80px; border-radius: 50%" />
                            </div>
                            <div class="CommentContent ms-3 w-100">
                                <div class="CommentNameDateRate d-flex flex-row w-100">
                                    <div class="CommentUserNameAndDate d-flex flex-column col-6">
                                        <div class="CommentUserName"><b>Elman Hasanov</b></div>
                                        <div class="CommentWriteDate grey">15.06.2001</div>
                                    </div>
                                    <div class="
                        CommentUserRate
                        d-flex
                        justify-content-end
                        flex-row
                        col-6
                      ">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p class="grey">
                                    Moody’s Corporation, often referred to as Moody’s, is an
                                    American business and financial services company. It is the
                                    holding company for Moody’s Investors Service (MIS), an
                                    American credit rating agency, and Moody’s Analytics (MA),
                                    an American provider.
                                </p>
                            </div>
                        </div>
                        <div class="comment d-flex flex-row mt-3">
                            <div class="CommentUserImage">
                                <img src="https://secure.gravatar.com/avatar/70bb49755b38874fc6ef1a6cc91118d7?s=80&d=mm&r=g"
                                     alt=""
                                     style="width: 80px; height: 80px; border-radius: 50%" />
                            </div>
                            <div class="CommentContent ms-3 w-100">
                                <div class="CommentNameDateRate d-flex flex-row w-100">
                                    <div class="CommentUserNameAndDate d-flex flex-column col-6">
                                        <div class="CommentUserName"><b>Elman Hasanov</b></div>
                                        <div class="CommentWriteDate grey">15.06.2001</div>
                                    </div>
                                    <div class="
                        CommentUserRate
                        d-flex
                        justify-content-end
                        flex-row
                        col-6
                      ">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <p class="grey">
                                    Moody’s Corporation, often referred to as Moody’s, is an
                                    American business and financial services company. It is the
                                    holding company for Moody’s Investors Service (MIS), an
                                    American credit rating agency, and Moody’s Analytics (MA),
                                    an American provider.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="card p-5">
                        <h4><b>Add a review</b></h4>
                        <div class="d-flex flex-row align-items-center">
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <span><b>Your Rating</b></span>
                        </div>
                        <span><b>Review</b></span>
                        <br />
                        <form action="" class="d-flex flex-column">
                            <textarea class="border-radius Review backColorBlue p-4"
                                      placeholder="Write comment"
                                      name=""
                                      id=""
                                      cols="30"
                                      rows="10"
                                      style="height: 200px; min-height: 200px; max-height: 200px"></textarea>
                            <button type="submit" class="btn btn-primary w-25 mt-4 py-3">
                                Submit Review
                            </button>
                        </form>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-lg-4 col-12">
                    <div class="d-flex">
                        <button class="btn btn-primary w-100">Download CV</button>
                        <div class="
                  border-radius
                  backColorBlue
                  d-flex
                  justify-content-center
                  align-items-center
                  ms-3
                "
                             style="width: 50px; height: 50px; color: blue">
                            <i class="fas fa bi-bookmark"></i>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="backColorBlue border-radius p-4 d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="far fa-money-bill-alt" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Offered Salary</b></div>
                                <div class="grey"> @Model.WaitingSalary/@Model.SalaryForTime.ToString()</div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="far fa-calendar" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Experience Time</b></div>
                                <div class="grey">@Model.Experience.ToString()</div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="far fa-user" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Gender</b></div>
                                <div class="grey">@Model.Gender.ToString()</div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="fas fa-hourglass-half" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Age</b></div>
                                <div class="grey">@Model.Age</div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="fab fa-acquisitions-incorporated"
                                   style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Qualification</b></div>
                                <div class="grey">@Model.Qualification.ToString()</div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="fas fa-language" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Languages</b></div>
                                <div class="grey">
                                    @for (int i = 0; i < Model.KnowingLanguages.Count; i++)
                                    {
                                        if (i == Model.KnowingLanguages.Count - 1)
                                        {
                                            <span>@Model.KnowingLanguages[i].Language</span>
                                        }
                                        else
                                        {
                                            <span>@Model.KnowingLanguages[i].Language,</span>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="fas fa-envelope" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Email</b></div>
                                <div class="grey">@Model.Email</div>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <div class="CandidateInfoIcon" style="color: blue">
                                <i class="fas fa-phone-alt" style="font-size: 20px"></i>
                            </div>
                            <div class="d-flex flex-column ms-3">
                                <div><b>Phone Number</b></div>
                                <div class="grey">@Model.PhoneNumber</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="d-flex backColorBlue border-radius p-4 flex-row">
                        <div class="
                  d-flex
                  flex-row
                  justify-content-start
                  align-items-center
                  w-100
                ">
                            <b>Social profiles: </b>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  justify-content-end
                  align-items-center
                  w-100
                  grey
                ">
                            <a href="@Model.FacebookUrl">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="@Model.TwitterUrl">
                                <i class="fab fa-twitter mx-3"></i>
                            </a>
                            <a href="@Model.LinkedinUrl">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="@Model.InstagramUrl">
                                <i class="fab fa-instagram ms-3"></i>
                            </a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="d-flex backColorBlue border-radius p-4 flex-column">
                        <h6><b>Professional Skills</b></h6>
                        <br />
                        <div class="d-flex flex-row">
                            @foreach (var item in Model.CandidateSkills)
                            {
                                <div class="border-radius grey px-3 Skill me-3"
                                     style="background-color: white">
                                    <span>@item.Name</span>
                                </div>
                            }

                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="d-flex backColorBlue border-radius p-4 flex-column">
                        <h6><b>CV</b></h6>
                        @if (Model.CandidateCVs.Count>0)
                        {
                            foreach (var item in Model.CandidateCVs)
                            {
                                <div class="p-3 d-flex flex-row border-radius CV"
                                     style="background-color: #d4e1f5">
                                    <div class="d-flex flex-column">
                                        <div class="CVName blue">@item.CVName</div>
                                        <div class="CVExtension blue">PDF</div>
                                    </div>
                                    <div class="
                    CVIcon
                    blue
                    d-flex
                    flex-row
                    justify-content-end
                    align-items-center
                    w-100
                  ">
                                        <i class="far fa-file-alt" style="font-size: 30px"></i>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div >Yoxdur</div>
                                 }

                    </div>
                            <br />
                            <br />
                            <div>
                                <div class="card p-3 border-0 mb-5 py-5"
                                     style="background-color: #f5f7fc">
                                    <h4><b>Contact @Model.FullName</b></h4>
                                    <br />
                                    <form action="" class="w-100">
                                        <input type="text"
                                               class="w-100 border-radius py-3 border-0 ps-3"
                                               placeholder="Subject" />
                                        <br />
                                        <br />
                                        <input type="email"
                                               class="w-100 border-radius py-3 border-0 ps-3"
                                               placeholder="Email" />
                                        <br />
                                        <br />
                                        <input type="text"
                                               class="w-100 border-radius py-3 border-0 ps-3"
                                               placeholder="Phone" />
                                        <br />
                                        <br />
                                        <textarea class="border-0 border-radius ps-3 pt-3"
                                                  name=""
                                                  id=""
                                                  rows="10"
                                                  style="
                      height: 150px !important;
                      max-height: 150px !important;
                      min-height: 150px !important;
                      width: 100%;
                    "
                                                  placeholder="Message"></textarea>
                                        <br />
                                        <br />
                                        <button type="submit"
                                                class="btn btn-primary w-100 border-radius py-3">
                                            Send Message
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </main>
  