@using JobSearchFullWebSite.ViewModels
@model CandidateIndexViewModel  
@{
    ViewData["Title"] = "Index";
}
    <main>
        <div class="backColorBlue py-5">
            <div class="container">
                <form class="p-4"  method="get" enctype="multipart/form-data" asp-action="index" asp-controller="candidate">
                    <div class="bg-white d-flex flex-row row g-4 p-4 border-radius"
                         style="max-width: 100% !important">
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-search" style="font-size: 20px"></i>
                            </div>
                            <div>
                                <input type="text"
                                       name="search"
                                       class="onclickBorderNone p-2 Width"
                                       placeholder="Candidate Title..." />
                            </div>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-map-marker-alt" style="font-size: 20px"></i>
                            </div>
                            <select  class="ms-2 border-0 grey Width"  asp-for="@Model.Candidate.City.Id" asp-items="@(new SelectList(Model.Cities,"Id","CityName"))">
                                <option value="" selected disabled>City or Postcode</option>
                                @*<option value="">London</option>
                                <option value="">Los Angeles</option>
                                <option value="">Miami</option>
                                <option value="">New York</option>
                                <option value="">Paris</option>*@
                            </select>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-briefcase" style="font-size: 20px"></i>
                            </div>
                            <select class="ms-2 border-0 grey Width" asp-for="@Model.Candidate.Position.Id" asp-items="@(new SelectList(Model.Positions,"Id","PositionName"))">
                                <option value="" selected disabled>All Positions</option>
                                @*<option value="">Automotive Jobs</option>
                                <option value="">Customer</option>
                                <option value="">Design</option>
                                <option value="">Development</option>*@
                            </select>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  blue
                  align-items-center
                ">
                            <div class="ms-2">
                                <button type="submit" class="btn btn-primary">
                                    Find Candidates
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row my-5">
                <div class="col-md-6 col-12">Showing All 18 Results</div>
                <div class="col-md-6 col-12">
                    <div class="d-flex flex-row justify-content-end">
                        <div class="d-flex flex-column">
                            <div class="backColorBlue border-radius px-4 py-2 SortBy">
                                Sort By >
                            </div>
                            <div class="bg-white border-radius SortingBy p-3"
                                 style="border: 1px solid grey">
                                <div class="d-flex flex-column">
                                    <span>Newest</span>
                                    <span>Oldest</span>
                                    <span>Random</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column ms-4">
                            <div class="backColorBlue border-radius px-4 py-2 AllClick">
                                All >
                            </div>
                            <div class="bg-white border-radius All p-3"
                                 style="border: 1px solid grey">
                                <div class="d-flex flex-column">
                                    <span>9 Per page</span>
                                    <span>All</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                @foreach (var item in Model.Candidates)
                {
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card CandidateListCard py-3">
                            <div class="container">
                                <div class="FeaturedBookmark row">
                                    @if (item.IsFeatured)
                                    {
                                        <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                             style="background-color: #e1f2e5">
                                            <span class="green">Featured</span>
                                        </div>
                                    }

                                    <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                        <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                    </div>
                                </div>
                                <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                    <div class="CandidateListCardImage">
                                        <img src="~/SiteImages/@item.CandidateImages.FirstOrDefault(x=>x.IsPoster).Image"
                                             alt=""
                                             style="width: 70px; height: 70px; border-radius: 50%" />
                                    </div>
                                    <div class="d-flex flex-column mt-2">
                                        <p><b>@item.FullName</b></p>
                                        <p class="blue d-flex justify-content-center">@item.Position.PositionName</p>
                                    </div>
                                    <div class="row grey">
                                        <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                            <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                            <span class="grey">@item.City.CityName</span>
                                        </div>
                                        <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                            <i class="far fa-money-bill-alt me-2"></i>
                                            <span class="">@item.WaitingSalary/@item.SalaryForTime</span>
                                        </div>
                                    </div>
                                    <div class="CandiddateInfo mt-3">
                                        @foreach (var item1 in item.CandidateSkills.Take(3))
                                        {
                                            <div class="px-2 backColorBlue border-radius">
                                                <span class="grey fontSize14">@item1.Name</span>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div class="w-100 mt-3 border-radius">
                                    <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                        <span class="">View Profile</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </main>

   