@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using JobSearchFullWebSite.Models
@model About
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="@Model.ActiveUsers">ActiveUsers</label>
                <input asp-for="@Model.ActiveUsers" class="form-control" id="ActiveUsers" placeholder="ActiveUsers">
                <span asp-validation-for="@Model.ActiveUsers" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.Positions">Positions</label>
                <input asp-for="@Model.Positions" class="form-control" id="Positions" placeholder="Positions">
                <span asp-validation-for="@Model.Positions" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.Shared">Shared</label>
                <input asp-for="@Model.Shared" class="form-control" id="Shared" placeholder="Shared">
                <span asp-validation-for="@Model.Shared" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.AboutContentTextEditor">AboutContentTextEditor</label>
                <input asp-for="@Model.AboutContentTextEditor" class="form-control" id="AboutContentTextEditor" placeholder="AboutContentTextEditor">
                <span asp-validation-for="@Model.AboutContentTextEditor" class="text-danger"></span>
            </div>

        </div>
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-12 d-flex flex-column">
                <label asp-for="@Model.AboutTopImage">About Images</label>
                <input asp-for="@Model.AboutTopImage" />
                <span asp-validation-for="@Model.AboutTopImage" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            @if (Model.AboutImages.Count() != 0)
            {
                @foreach (var item in Model.AboutImages)
                {
                    <div class="img-box col-md-4" style="position:relative;max-width:200px;width:200px;height:200px;max-height:200px;">
                        <img class="d-block" src="~/uploads/@item.Image" style="max-width:180px;width:180px;height:180px;max-height:180px;margin-left:10px;padding-top:20px" />
                        <i class="fas fa-times remove-img-box" style="color:red;position:absolute;cursor:pointer;right:4px;top:2px;font-size:17px"></i>
                        <input type="hidden" name="AboutTopImageId[]" value="@item.Id" />
                    </div>
                }
            }

        </div>
        <br />
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(document).on("click", ".remove-img-box", function (e) {
                $(this).parents(".img-box").attr("style", "background-color:unset");
                $(this).parents(".img-box").empty();
            })
        })
    </script>
}